---
version: 2
jobs:
  build:
    working_directory: /go/src/github.com/mobingilabs/go-modaemon
    docker:
      - image: golang:1.8.1
    steps:
      - checkout
      - restore_cache:
          key: godeps-{{ .Branch }}-{{ checksum "Gopkg.lock" }}
      - run:
          name: resolve depends
          command: make cideps
      - run:
          name: test and build maincli
          command: make cibuild
      - run:
          name: build addons
          command: make addon
      - save_cache:
          key: godeps-{{ .Branch }}-{{ checksum "Gopkg.lock" }}
          paths:
            - "/go/src"